service cloud.firestore {
  match /databases/{database}/documents {
    function isUser(uid) {
      return request.auth.uid == uid;
    }

    function isAdmin() {
      return request.auth.token.isAdmin == true;
    }

    function isModerator() {
      return request.auth.token.isModerator == true;
    }

    match /admin/{document=**} { 
      allow read, write: if isAdmin();
    }

    match /users/{uid} { 
      allow read, write: if isUser(uid) || isAdmin();
    }

    match /permission-based/user-owned/{type}/{uid} { 
      allow read, write: if isUser(uid) || isAdmin()
    }

    match /permission-based/user-owned/{type}/{uid}/messages/{messageId} { 
      allow read, write: if isUser(uid) || isAdmin()
    }
    
    match /permission-based/user-writeable/{type}/{uid} { 
      allow write: if isUser(uid) || isAdmin()
    }
    
    match /permission-based/user-readable/{type}/{uid} { 
      allow read: if isUser(uid) || isAdmin()
    }
  }
}