.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-shell .content {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.app-shell main {
  flex: 1;
}

.app-shell .permanent-drawer {
  position: relative;
  transition: margin-left var(--drawer-speed) linear;
}

@media all and (max-width: 1024px) {
  .app-shell .permanent-drawer {
    margin-left: calc(-1 * var(--drawer-width));
  }
}
